In [1]:
import pandas as pd
import numpy as np

import difflib

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv("18_Movie_Recommendation.csv")
data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [5]:
#Selecting Features

features = ["genres", "keywords", "tagline", "cast", "director"]

In [6]:
#Replacing null values with ''
for i in features:
    data[i] = data[i].fillna('')

In [8]:
#Combining the selected features

combinedFeatures = ''

for i in range(len(features)):
    if i == 4:
        combinedFeatures += data[features[i]]
    
    combinedFeatures += data[features[i]] + ' '

combinedFeatures

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Name: genres, Length: 4803, dtype: object

In [9]:
#Vectorizing

vectorizer = TfidfVectorizer()

In [10]:
combinedFeaturesV = vectorizer.fit_transform(combinedFeatures)

In [11]:
#Cosine Similarility 

similarity = cosine_similarity(combinedFeaturesV)
similarity

array([[1.        , 0.06870296, 0.0356283 , ..., 0.        , 0.        ,
        0.        ],
       [0.06870296, 1.        , 0.031188  , ..., 0.03370843, 0.        ,
        0.        ],
       [0.0356283 , 0.031188  , 1.        , ..., 0.        , 0.05009554,
        0.        ],
       ...,
       [0.        , 0.03370843, 0.        , ..., 1.        , 0.        ,
        0.02456262],
       [0.        , 0.        , 0.05009554, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.02456262, 0.        ,
        1.        ]])

In [12]:
similarity.shape

(4803, 4803)

In [13]:
#Getting the Movie Name
movieName = input("Enter Movie Name: ")

In [14]:
#Creating the list of all the movies names

listOfTitle = data['title'].tolist()

In [15]:
#Finding the close match

closeMatch = difflib.get_close_matches(movieName, listOfTitle)
closeMatch

['The Avengers', 'Swingers']

In [16]:
closeMatch = closeMatch[0]

In [19]:
#Index of movie

index = data[data['title'] == closeMatch]['index'].values[0]
index

16

In [30]:
#Getting List of similar movies

similarityScore = list(enumerate(similarity[index]))
similarityScore.sort(reverse=True,key = lambda x: x[1])
similarityScore[:10]

[(16, 1.0000000000000002),
 (7, 0.7994000151535318),
 (85, 0.40149859365366714),
 (26, 0.37926785199714214),
 (79, 0.3724976306419697),
 (126, 0.2942276192573193),
 (174, 0.27339616491873187),
 (511, 0.2727025126948127),
 (64, 0.2589773617390031),
 (182, 0.2568962642025884)]

In [34]:
#Print similar movies

print("Movies Suggestion: \n")

i = 1

for movie in similarityScore:
    index = movie[0]

    titleFromIndex = data[data['index'] == index]['title'].values[0]
    
    if (i <= 20):
        print(f'{i}. {titleFromIndex}')
        i += 1

Movies Suggestion:

1. The Avengers
2. Avengers: Age of Ultron
3. Captain America: The Winter Soldier
4. Captain America: Civil War
5. Iron Man 2
6. Thor: The Dark World
7. The Incredible Hulk
8. X-Men
9. X-Men: Apocalypse
10. Ant-Man
11. Thor
12. X2
13. X-Men: The Last Stand
14. Deadpool
15. X-Men: Days of Future Past
16. Captain America: The First Avenger
17. The Amazing Spider-Man 2
18. The Image Revolution
19. Iron Man
20. Serenity

In [40]:
#Recommendation System

#Getting the Movie Name
movieName = input("Enter Movie Name: ")
#Creating the list of all the movies names

listOfTitle = data['title'].tolist()
#Finding the close match

closeMatch = difflib.get_close_matches(movieName, listOfTitle)
closeMatch = closeMatch[0]
#Index of movie

index = data[data['title'] == closeMatch]['index'].values[0]

#Getting List of similar movies

similarityScore = list(enumerate(similarity[index]))
similarityScore.sort(reverse=True,key = lambda x: x[1])

#Print similar movies

print("Movies Suggestion: \n")

i = 1

for movie in similarityScore:
    index = movie[0]

    titleFromIndex = data[data['index'] == index]['title'].values[0]
    
    if (i <= 20):
        print(f'{i}. {titleFromIndex}')
        i += 1

Movies Suggestion:

1. Rise of the Guardians
2. The Santa Clause
3. Hop
4. The Polar Express
5. Pan
6. Arthur Christmas
7. Maleficent
8. Thomas and the Magic Railroad
9. Into the Woods
10. How the Grinch Stole Christmas
11. Krampus
12. The Santa Clause 2
13. Elf
14. Rango
15. The Curse of the Were-Rabbit
16. The Tooth Fairy
17. Closer
18. Jingle All the Way
19. Les Misérables
20. Flushed Away